.expense-cell{
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
    padding: 10px;
}

.info-cell{
    /*border: 1px solid green;*/
    text-align: right;
}