.index-content{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .movie-grid{
    display: inline;
    width: 66%
  }
  .rank-grid{
    display: inline;
    width: 34%
  }
}