.movie-info{
  .container{
    padding-top: 80px;
    padding-left: 20%;
    .container-title{

      .tab-title {
        cursor: pointer;
        float: left;
        margin-right: 30px;
        margin-bottom: -2px;
        padding-bottom: 10px;
        font-size: 18px;
        color: #333;
        line-height: 100%;
        border-bottom: 2px solid transparent;
      }

      .active {
        color: #ef4238;
        border-bottom-color: #ef4238;
      }


    }

    .container-content{
      padding-top: 70px;
      width: 1200px;
      .module{

        position: relative;
        margin-bottom: 60px;
        display: block;
        .module-title{

          h2 {
            display: inline-block;
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: 18px;
            color: #333;
            line-height: 18px;
          }
        }

        .module-content{
          margin-top: 20px;
          color: #333;

          .dra {
            font-size: 14px;
            line-height: 26px;
          }


          .celebrity-group{
            float: left;
            margin-left: 30px;

            .celebrity-type {
              margin-bottom: 16px;
            }

            .celebrity-list{
              .celebrity {
                float: left;
                width: 128px;
                margin-left: 20px;
                margin-bottom: 20px;
                text-overflow: ellipsis;
                white-space: nowrap;

                .portrait{
                  margin-bottom: 6px;
                  width: 128px;
                  height: 170px;
                  overflow: hidden;

                  img {
                    width: 128px;
                    height: 170px;
                  }
                }

                .name {
                  margin-top: 8px;
                  line-height: 1.2;
                  color: #333;
                  display: inline-block;
                  width: 128px;
                  text-align: center;
                  padding-bottom: 1px;
                  margin-bottom: -1px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
              }

              .celebrity:first-child {
                margin-left: 0;
              }
            }


          }

          .celebrity-group:first-child {
            margin-left: 0;
          }



        }
      }

      .celebrity-container {
        margin-left: -30px;
        margin-top: 10px;
        font-size: 16px;
        color: #333;

        .celebrity-group{
          float: left;
          margin-left: 30px;

          .celebrity-type {
            margin-bottom: 16px;
          }

          .celebrity-list{
            margin-left: -20px;
            .celebrity {
              float: left;
              width: 128px;
              margin-left: 20px;
              margin-bottom: 20px;
              text-overflow: ellipsis;
              white-space: nowrap;

              .portrait{
                margin-bottom: 6px;
                width: 128px;
                height: 170px;
                overflow: hidden;

                img {
                  width: 128px;
                  height: 170px;
                }
              }

              .name {
                margin-top: 8px;
                line-height: 1.2;
                color: #333;
                display: inline-block;
                width: 128px;
                text-align: center;
                padding-bottom: 1px;
                margin-bottom: -1px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }

              .info{
                text-align: center;
              }
            }
          }


        }

      }
    }
  }

}
