.banner{
  width: 100%;
  min-width: 1200px;
  background: #392f59  no-repeat 50%;
  margin: 0;

  height: 326px;
  position: relative;

  /*背景层*/
  #popLayer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background-color: rgba(0,0,0,.6);
  }
  /*弹出层*/
  #popBox {
    position: fixed;
    display: none;
    opacity: 1;
    z-index: 10000;
    left: 34%;
    top: 25%;
    border-color: #b2b2b2;
    border: 10px solid rgba(0,0,0,.3);

    .jBox-container{
      background: #fff;

      .jBox-content{
        width: 550px;
        height: 450px;
        text-align: center;

        .jBox-text{
          padding-top: 150px;
          font-size: 20px;
        }
        .score-msg-container{

          height: 90px;
        }
        .score-star-container{
          text-align: center;
          height: 30px;
          margin-bottom: 40px;
        }
        .score-content-container{
          position: relative;
          width: 488px;
          height: 158px;
          margin: 0 15px 20px;
          border: 1px solid #d8d8d8;
          border-radius: 4px;
          padding: 10px 10px 30px;

          .score-text{
            width: 100%;
            height: 100%;
            border: none;
            resize: none;
          }

          .score-text:focus{
            outline: none;
          }
        }
        .score-content-container:focus{
          border-color: #cd0200;
        }
        .confirm-btn{
          cursor: pointer;
          float: right;
          margin-right: 15px;
          width: 90px;
          height: 40px;
          border: none;
          border-radius: 4px;
          font-size: 16px;
          line-height: 16px;
        }
      }

      .close {
        cursor: pointer;
        position: absolute;
        top: -44px;
        right: -44px;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background: rgba(0,0,0,.3);
        padding-top: 34px;
        padding-right: 34px;
        text-align: center;
        line-height: 44px;
        font-size: 32px;
        color: #fff;
      }
    }


  }

  .wrapper{
    width: 80%;
    height: 330px;
    position: relative;
    top: 29px;
    left: 20%;
    .celeinfo-left{
      width: 300px;
      float: left;
      position: relative;
      top: 0;
      overflow: hidden;
      z-index: 9;

      .avatar-shadow {
        position: relative;
        width: 240px;
        height: 330px;

        .avatar {
          border: 4px solid #fff;
          height: 322px;
          width: 232px;
        }

      }



    }

    .celeinfo-right{
      position: relative;
      margin-right: 30px;
      margin-left: 300px;

      .movie-brief-container{
        position: absolute;
        color: #fff;
        font-size: 14px;
        z-index: 1;
        margin-top: 1px;

        .name {
          width: 900px;
          margin-top: 0;
          font-size: 26px;
          line-height: 32px;
          font-weight: 700;
          margin-bottom: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          max-height: 64px;
          text-align: left;
          color: white;
        }

        .subname {
          width: 900px;
          font-size: 18px;
          line-height: 1.3;
          margin-bottom: 12px;
        }

        ul {
          width: 250px;
          list-style: none;
          padding-left: 0;
          margin-bottom: 20px;

          li {
            padding-top: 12px;
            line-height: 100%;


          }

          .movietypes{
            padding-top: 0;
            display: flex;
            flex-direction: row;

          }

          .rate{
            height: 30px;
            margin: 0;
          }
        }
      }

      .action-button{
        position: absolute;
        margin-top: 180px;
        display: flex;
        flex-direction: row;

        button {
          cursor: pointer;
          float: left;
          width: 120px;
          height: 25px;
          background-color: #756189;
          text-align: center;
          font-size: 16px;
          color: #fff;
          border: none;
          margin-right: 10px;

        }

        .rate{
          margin-top: -7px;
        }







      }
      .action-text{
        position: absolute;
        margin-top: 180px;
        font-size: 10px;
        text-align: center;
      }

      .movie-status-container{
        position: absolute;
        margin-top: 210px;

        width: 250px;
        height: 40px;

        .buy-button{
          cursor: pointer;
          width: 100%;
          height: 100%;
          background-color: #cd0200;
          border: none;
          color: white;
          font-size: 18px;
        }

        .no-text{
          width: 100%;
          height: 100%;
          background-color:gray;
          border: none;
          color: white;
          font-size: 18px;
        }
      }
    }
  }

}
